html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: top;
  margin: auto;
  max-width: 450px;
}

h1 {
  text-align: center;
  font-family: "Handlee", cursive;
  margin-top: 50px;
  font-size: 60px;
  margin-bottom: 20px;
}

footer {
  font-size: 14px;
  text-align: center;
  font-family: "PT Sans Narrow", san s-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(174, 103, 99);
}

.footer-link {
  color: rgb(92, 149, 148);
}

.weather-app {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/104/698/original/pexels-eberhard-grossgasteiger-2310648.jpg?1700637061);
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
  margin: 30px auto;
  padding: 30px;
}

.search-form {
  display: flex;
  justify-content: center;
}

.search-form-input {
  background-color: #fffafa;
  border: solid 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 50%;
  margin-right: 5px;
  font-size: 18px;
  padding: 5px;
  font-family: "Handlee", cursive;
  font-weight: 500;
}

.search-form-button {
  background-color: #fffafa;
  border: solid 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 18px;
  padding: 5px 10px;
  font-family: "Handlee", cursive;
  font-weight: 500;
  color: black;
}

.weather-app-current {
  text-align: center;
  margin-top: -20px;
  font-size: 20px;
  font-family: "Handlee", cursive;
  font-weight: 500;
}

.temp-link .active {
  font-weight: 600;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  font-family: "PT Sans Narrow", san s-serif;
}

.weather-condition {
  text-transform: capitalize;
}

.weather-app-temperature-container {
  margin-left: 10px;
  display: flex;
  justify-content: left;
}

.weather-app-details {
  margin-right: 10px;
  font-family: "PT Sans Narrow", san s-serif;
  font-size: 18px;
}

.today-temperature {
  font-size: 80px;
  font-weight: 500;
  margin-left: -10px;
}

.today-maximum {
  font-weight: 600;
}

.weather-app-icon {
  width: 100px;
  height: 100px;
}

.weather-app-unit {
  font-size: 22px;
  margin-top: 20px;
}

.weather-app-unit .active {
  font-weight: 700;
}

.weather-forecast {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: rgba(255, 250, 250, 0.3);
  padding: 10px 5px;
  border-radius: 5px;
}

.forecast-icon {
  width: 70px;
  height: 70px;
}

.weather-forecast-date {
  font-family: "Handlee", cursive;
  font-weight: 600;
  font-size: 18px;
}

.weather-forecast-temperature {
  font-family: "PT Sans Narrow", sans s-serif;
  font-size: 16px;
}

.weather-forecast-maximum {
  font-weight: 600;
}
