body {
  display: block;
  margin: 0 auto;
  max-width: 450px;
}

h1 {
  text-align: center;
  font-family: "Handlee", cursive;
  margin-top: 50px;
  font-size: 60px;
  margin-bottom: 20px;
}

footer {
  font-size: 12px;
  text-align: center;
  font-family: "Handlee", cursive;
}

a {
  font-weight: 600;
}

a:hover {
  color: rgb(92, 149, 148);
}

.weather-app {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/104/698/original/pexels-eberhard-grossgasteiger-2310648.jpg?1700637061);
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
  margin: 30px auto;
  padding: 30px;
}

.search-form {
  display: flex;
  justify-content: center;
}

.search-form-input {
  background-color: #fffafa;
  border: solid 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 50%;
  margin-right: 5px;
  font-size: 16px;
  padding: 5px;
  font-family: "Handlee", cursive;
}

.search-form-button {
  background-color: #fffafa;
  border: solid 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 10px;
  font-family: "Handlee", cursive;
}

.weather-app-current {
  text-align: center;
  margin-top: -20px;
  font-size: 20px;
  font-family: "Handlee", cursive;
  font-weight: 500;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  font-family: "PT Sans Narrow", san s-serif;
}

.weather-condition {
  text-transform: capitalize;
}

.weather-app-temperature-container {
  margin-left: 10px;
  display: flex;
  justify-content: left;
}

.weather-app-details {
  margin-right: 10px;
  font-family: "PT Sans Narrow", san s-serif;
  font-size: 18px;
}

.today-temperature {
  font-size: 80px;
  font-weight: 500;
}

.weather-app-icon {
  font-size: 100px;
}

.weather-app-unit {
  font-size: 22px;
  margin-top: 20px;
  font-weight: 800;
}
